[Unit]
Description=Crustypi startup service
After=network-online.target

[Service]
ExecStart=/usr/bin/crustystart.sh
User=crustypi
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target