certifi==2023.7.22
charset-normalizer==3.2.0
dnspython==2.4.1
idna==3.4
numpy==1.25.2
Pillow==10.0.0
pyFirmata==1.1.0
pyserial==3.5
python-decouple==3.8
requests==2.31.0
sense-hat==2.4.0
urllib3==2.0.4